body, ul, li {
    margin: auto;
    padding: 0%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: aquamarine;
}

#navbar {
    background-color: aqua;
    color: aliceblue;
    text-align: center;
}

#navbar ul li {
    display: inline;
    margin-right: auto;
}